.loginButton {
    background-color: rgb(154, 179, 162);
    border: none;
}

.loginButton:hover {
    background-color: rgb(125, 156, 135);
}

.register {
    color: #292828;
    line-height: 1rem;
    width: 60px;
    margin: 0 auto;
    border-bottom: 1px solid;
    text-align: center;
    padding-top: 5px;
    transition: color 0.5s;
}

.register:hover {
    color: #4d6cf5;
    cursor: pointer;
}